db.json
db_expired.json
db_expired_new.json
misc_settings.json
inviteLink.txt
log_reports_banned_words.txt
APIKey.txt
banned_words_logger.txt
/errors
/__pycache__
/.vscode
cogs/__pycache__
cogs/modules/randomwalkpictures
cogs/modules/advanced.csv
cogs/modules/avanzado.csv
cogs/modules/beginner.csv
cogs/modules/general.csv
cogs/modules/principiante.csv